<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>

<body>
    <div>
        <div class="one">
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password">
            <button onclick="Submit()">Submit</button>
        </div>
        <div class="two">
            <h1>Password Reset Successful</h1>
        </div>
    </div>
    
<h1>Token= <%=token %></h1>
</body>
    <script>
        let one = document.querySelector('.one')
        let two = document.querySelector('.two')

        two.style.display = 'none'
        let inputTag = document.querySelector('input')
        let token = '<%=token %>'


        async function Submit() {
            let password = inputTag.value

            console.log(password)

            let res = await fetch(
                `http://localhost:3000/users/resetToken/${token}`,
                {
                    method:'POST',
                    headers:{
                        'content-type':'application/json'
                    },
                    body:JSON.stringify({password})

                }
            )

            let data = await res.json()
            console.log(data)

            if(data.success){
                two.style.display = 'block'
                one.style.display = 'none'
            }
        }
    </script>
</html>